/* ========================
     reset 
============================*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* ========================
      typography 
============================*/
body {
   font-family: 'Anton', sans-serif;
}

h1 {
   text-align: center;
   text-shadow: 1px 2px white;
}

ul {
   margin-bottom: 2rem;
}
/* ========================
      commons 
============================*/
body {
   background-color: #0093e9; /*fallback*/
   background-image: linear-gradient(159deg, #0093e9 0%, #80d0c7 33%, #ffffff 66%, #ff3b3b 100%);
   background-attachment: fixed;
}

.ms_container {
   max-width: 62.5rem;
   margin: 0 auto;
   padding: 1.5rem;
}

.ms_flex-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}

/* shopping list */
#shopping-list {
   text-transform: capitalize;
   font-size: 1.25rem;
   list-style-type: disclosure-closed;
}

#shopping-list li:not(:last-child) {
   margin-bottom: 0.5rem;
}

#shopping-list li:last-child {
   color: red;
}

/* bonus */
#added-item {
   font-size: 2rem;
   padding: 0.5rem;
   text-align: center;
   border-radius: 5rem;
}

#added-item__btn {
   font-size: 1.5rem;
   padding: 0.5rem 2rem;
   border-radius: 1.25rem;
   border-color: red;
}

.app-container {
   display: flex;
   justify-content: space-between;
   padding: 2rem 0;
}
